{% extends 'base.html.twig' %}

{% block title %}KanBoard App{% endblock %}

{% block body %}
    <body>
    <main>
        <nav class="navbar navbar-light bg-primary position-fixed main-page__navbar">
            <span class="navbar-brand mb-0 h1 text-white ">KanBoard App</span>
        </nav>
        <div class="container d-flex flex-column main-page__container">
            {% for workspace in workspaces %}
                <div class="jumbotron">
                    <h1 class="display-4">{{ workspace.name }}</h1>
                </div>
                <div class="row progress__container">
                    {% for progress in progresses %}
                        <div class="col-3">
                            <div class="progress__body">
                                <div class="progress__body--contents">
                                    <div class="progress__body--title" style="background-color: {{ progress.color }}">
                                        <h4>{{ progress.description }}</h4>
                                        <i class="fas fa-plus fa-2x"></i>
                                    </div>
                                    <div class="progress__card" style="background-color:  {{ progress.color }}">
                                        <div class="progress__card--name">
                                            <div class="progress__card--text">
                                                <span>Test</span>
                                            </div>
                                            <div class="progress__card--icons">
                                                <i class="fas fa-pencil-alt"></i>
                                                <i class="fas fa-trash-alt"></i>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="progress__card--description">
                                            TestTestTestTestTestTestTestTest
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>

            {% endfor %}
        </div>
    </main>
    </body>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}